[data-theme=corporate] {
  --fnx-color-primary-extralight: #FFF0E4;
  --fnx-color-primary-lightest: #FFB578;
  --fnx-color-primary-light: #FF8826;
  --fnx-color-primary-medium: #EF6C00;
  --fnx-color-primary-dark: #BF5600;
  --fnx-color-primary-darkest: #8F4100;
  --fnx-color-primary-extradark: #602B00;
  --fnx-color-secondary-extralight: #ECDFF0;
  --fnx-color-secondary-lightest: #C69ED3;
  --fnx-color-secondary-light: #AA6EBC;
  --fnx-color-secondary-medium: #A05EB5;
  --fnx-color-secondary-dark: #844597;
  --fnx-color-secondary-darkest: #633471;
  --fnx-color-secondary-extradark: #42234B;
  --fnx-color-layout-applicationbg: #EEEBEF;
  --fnx-color-layout-componentbg01: #FCFCFC;
  --fnx-color-layout-componentbg02: #EEEBEF;
  --fnx-color-layout-gradientbg: linear-gradient(136deg, #FFB578 0%, #844597 100%);
  --fnx-font-weight-light: 300;
  --fnx-font-weight-regular: 400;
  --fnx-font-weight-medium: 500;
  --fnx-font-weight-bold: 700;
  --fnx-font-weight-black: 900;
  --fnx-font-lineheight-tight: 100%;
  --fnx-font-lineheight-medium: 150%;
  --fnx-font-lineheight-distant: 170%;
  --fnx-font-lineheight-super-distant: 180%;
  --fnx-font-lineheight-faraway: 200%;
  --fnx-font-size-xxxs: 12px;
  --fnx-font-size-xxs: 14px;
  --fnx-font-size-xs: 16px;
  --fnx-font-size-sm: 18px;
  --fnx-font-size-md: 20px;
  --fnx-font-size-lg: 24px;
  --fnx-font-size-xl: 32px;
  --fnx-font-size-xxl: 36px;
  --fnx-font-family-01: Inter;
  --fnx-typography-h-01: normal 900 36px/150% Inter;
  --fnx-typography-h-02: normal 700 32px/150% Inter;
  --fnx-typography-h-03: normal 700 24px/150% Inter;
  --fnx-typography-h-04: normal 700 20px/180% Inter;
  --fnx-typography-subtitle-01: normal 700 18px/180% Inter;
  --fnx-typography-subtitle-02: normal 700 16px/150% Inter;
  --fnx-typography-subtitle-03: normal 700 14px/170% Inter;
  --fnx-typography-body1-light: normal 300 18px/180% Inter;
  --fnx-typography-body1-regular: normal 400 18px/180% Inter;
  --fnx-typography-body1-medium: normal 500 18px/180% Inter;
  --fnx-typography-body1-bold: normal 700 18px/180% Inter;
  --fnx-typography-body2-light: normal 300 16px/150% Inter;
  --fnx-typography-body2-regular: normal 400 16px/150% Inter;
  --fnx-typography-body2-medium: normal 500 16px/150% Inter;
  --fnx-typography-body2-bold: normal 700 16px/150% Inter;
  --fnx-typography-body3-light: normal 300 14px/170% Inter;
  --fnx-typography-body3-regular: normal 400 14px/170% Inter;
  --fnx-typography-body3-medium: normal 500 14px/170% Inter;
  --fnx-typography-body3-bold: normal 700 14px/170% Inter;
  --fnx-typography-caption-regular: normal 400 14px/200% Inter;
  --fnx-typography-caption-medium: normal 500 14px/200% Inter;
  --fnx-typography-inputlabel: normal 400 12px/200% Inter;
  --fnx-typography-inputlabelfilled: normal 400 12px/200% Inter;
}