[data-theme=fenix] {
  --fnx-color-brand-1: #FF8200;
  --fnx-color-brand-2: #50555A;
  --fnx-color-digital-primary-extralight: #FFF0E4;
  --fnx-color-digital-primary-lightest: #FFB578;
  --fnx-color-digital-primary-light: #FF8826;
  --fnx-color-digital-primary-medium: #EF6C00;
  --fnx-color-digital-primary-dark: #BF5600;
  --fnx-color-digital-primary-darkest: #8F4100;
  --fnx-color-digital-primary-extradark: #602B00;
  --fnx-color-digital-secondary01-extralight: #ECDFF0;
  --fnx-color-digital-secondary01-lightest: #C69ED3;
  --fnx-color-digital-secondary01-light: #AA6EBC;
  --fnx-color-digital-secondary01-medium: #A05EB5;
  --fnx-color-digital-secondary01-dark: #844597;
  --fnx-color-digital-secondary01-darkest: #633471;
  --fnx-color-digital-secondary01-extradark: #42234B;
  --fnx-color-digital-secondary02-extralight: #DCFFFB;
  --fnx-color-digital-secondary02-lightest: #00E7CD;
  --fnx-color-digital-secondary02-light: #00C4AE;
  --fnx-color-digital-secondary02-medium: #00A18F;
  --fnx-color-digital-secondary02-dark: #008172;
  --fnx-color-digital-secondary02-darkest: #006156;
  --fnx-color-digital-secondary02-extradark: #004039;
  --fnx-color-digital-secondary03-extralight: #E1E9F5;
  --fnx-color-digital-secondary03-lightest: #A6BCE0;
  --fnx-color-digital-secondary03-light: #799BD1;
  --fnx-color-digital-secondary03-medium: #6A90CC;
  --fnx-color-digital-secondary03-dark: #3F6EB9;
  --fnx-color-digital-secondary03-darkest: #2F538B;
  --fnx-color-digital-secondary03-extradark: #20375C;
  --fnx-color-digital-grayscale-extralight: #FCFCFC;
  --fnx-color-digital-grayscale-lightest: #DBDDDF;
  --fnx-color-digital-grayscale-light: #B7BBBF;
  --fnx-color-digital-grayscale-medium: #93999F;
  --fnx-color-digital-grayscale-dark: #6D747A;
  --fnx-color-digital-grayscale-darkest: #50555A;
  --fnx-color-digital-grayscale-extradark: #080809;
  --fnx-color-content-bg: #EBEFEF;
  --fnx-color-content-surface: #FCFCFC;
  --fnx-font-size-xxxs: 12px;
  --fnx-font-size-xxs: 14px;
  --fnx-font-size-xs: 16px;
  --fnx-font-size-sm: 18px;
  --fnx-font-size-md: 20px;
  --fnx-font-size-lg: 24px;
  --fnx-font-size-xl: 32px;
  --fnx-font-size-xxl: 36px;
  --fnx-font-size-xxxl: 48px;
  --fnx-font-size-huge: 64px;
  --fnx-font-lineheight-tight: 100%;
  --fnx-font-lineheight-medium: 150%;
  --fnx-font-lineheight-distant: 170%;
  --fnx-font-lineheight-super-distant: 180%;
  --fnx-font-lineheight-faraway: 200%;
  --fnx-font-weight-light: 300;
  --fnx-font-weight-regular: 400;
  --fnx-font-weight-medium: 500;
  --fnx-font-weight-semibold: 600;
  --fnx-font-weight-bold: 900;
  --fnx-font-family-1: Inter;
  --fnx-font-family-2: Inter;
  --fnx-font-letter-spacing-none: 0%;
  --fnx-font-letter-spacing-small: 2.5%;
  --fnx-border-radius-none: 0px;
  --fnx-border-radius-sm: 8px;
  --fnx-border-radius-md: 16px;
  --fnx-border-radius-lg: 24px;
  --fnx-border-radius-circular: 50%;
  --fnx-borderwidth-none: 0px;
  --fnx-borderwidth-hairline: 0.5px;
  --fnx-borderwidth-thin: 1px;
  --fnx-borderwidth-thick: 2px;
  --fnx-opacity-level-semi-transparent: 16%;
  --fnx-opacity-level-light: 20%;
  --fnx-opacity-level-medium: 32%;
  --fnx-shadow-level-0: [object Object];
  --fnx-shadow-level-1: [object Object];
  --fnx-shadow-level-2: [object Object];
  --fnx-shadow-level-3: [object Object];
  --fnx-spacing-quark: 4px;
  --fnx-spacing-nano: 8px;
  --fnx-spacing-xxxs: 12px;
  --fnx-spacing-xxs: 16px;
  --fnx-spacing-xs: 24px;
  --fnx-spacing-sm: 32px;
  --fnx-spacing-md: 40px;
  --fnx-spacing-lg: 48px;
  --fnx-spacing-xl: 56px;
  --fnx-spacing-xxl: 64px;
  --fnx-spacing-xxxl: 80px;
  --fnx-spacing-huge: 120px;
  --fnx-icons-size-xxs: 16px;
  --fnx-icons-size-xs: 20px;
  --fnx-icons-size-sm: 24px;
  --fnx-icons-size-lg: 32px;
  --fnx-icons-size-xl: 48px;
  --fnx-icons-size-xxl: 64px;
}