[data-theme=polishop] {
  --fnx-color-primary-extralight: #FCE6E6;
  --fnx-color-primary-lightest: #F49A9A;
  --fnx-color-primary-light: #EC4F4E;
  --fnx-color-primary-medium: #D01716;
  --fnx-color-primary-dark: #A61212;
  --fnx-color-primary-darkest: #680C0B;
  --fnx-color-primary-extradark: #3E0707;
  --fnx-color-secondary-extralight: #FFF7CC;
  --fnx-color-secondary-lightest: #FFEE99;
  --fnx-color-secondary-light: #FFE24D;
  --fnx-color-secondary-medium: #FFD500;
  --fnx-color-secondary-dark: #806B00;
  --fnx-color-secondary-darkest: #665500;
  --fnx-color-secondary-extradark: #4D4000;
  --fnx-color-layout-applicationbg: #EFEEEB;
  --fnx-color-layout-componentbg01: #FCFCFC;
  --fnx-color-layout-componentbg02: #FAFAFA;
  --fnx-color-layout-gradientbg: linear-gradient(136deg, #F49A9A 0%, #806B00 100%);
  --fnx-font-family-01: Roboto;
  --fnx-font-weight-light: 300;
  --fnx-font-weight-regular: 400;
  --fnx-font-weight-medium: 500;
  --fnx-font-weight-bold: 700;
  --fnx-font-weight-black: 900;
  --fnx-font-size-xxxs: 12px;
  --fnx-font-size-xxs: 14px;
  --fnx-font-size-xs: 16px;
  --fnx-font-size-sm: 20px;
  --fnx-font-size-md: 24px;
  --fnx-font-size-lg: 32px;
  --fnx-font-size-xl: 36px;
  --fnx-font-size-xxl: 48px;
  --fnx-font-lineheight-tight: 100%;
  --fnx-font-lineheight-medium: 130%;
  --fnx-font-lineheight-distant: 150%;
  --fnx-font-lineheight-super-distant: 180%;
  --fnx-font-lineheight-faraway: 200%;
  --fnx-typography-h-01: normal 900 48px/150% Roboto;
  --fnx-typography-h-02: normal 700 36px/150% Roboto;
  --fnx-typography-h-03: normal 700 32px/150% Roboto;
  --fnx-typography-h-04: normal 700 24px/180% Roboto;
  --fnx-typography-subtitle-01: normal 700 20px/180% Roboto;
  --fnx-typography-subtitle-02: normal 700 16px/150% Roboto;
  --fnx-typography-subtitle-03: normal 700 14px/130% Roboto;
  --fnx-typography-body1-light: normal 300 20px/180% Roboto;
  --fnx-typography-body1-regular: normal 400 20px/180% Roboto;
  --fnx-typography-body1-medium: normal 500 20px/180% Roboto;
  --fnx-typography-body1-bold: normal 700 20px/180% Roboto;
  --fnx-typography-body2-light: normal 300 16px/150% Roboto;
  --fnx-typography-body2-regular: normal 400 16px/150% Roboto;
  --fnx-typography-body2-medium: normal 500 16px/150% Roboto;
  --fnx-typography-body2-bold: normal 700 16px/150% Roboto;
  --fnx-typography-body3-light: normal 300 14px/130% Roboto;
  --fnx-typography-body3-regular: normal 400 14px/130% Roboto;
  --fnx-typography-body3-medium: normal 500 14px/130% Roboto;
  --fnx-typography-body3-bold: normal 700 14px/130% Roboto;
  --fnx-typography-caption-regular: normal 400 14px/130% Roboto;
  --fnx-typography-caption-medium: normal 500 14px/130% Roboto;
  --fnx-typography-inputlabelfilled: normal 400 12px/200% Roboto;
}