[data-theme=ppw] {
  --fnx-color-primary-extralight: #FFF0E4;
  --fnx-color-primary-lightest: #FFB578;
  --fnx-color-primary-light: #FF8826;
  --fnx-color-primary-medium: #EF6C00;
  --fnx-color-primary-dark: #BF5600;
  --fnx-color-primary-darkest: #8F4100;
  --fnx-color-primary-extradark: #602B00;
  --fnx-color-secondary-extralight: #E1E9F5;
  --fnx-color-secondary-lightest: #A6BCE0;
  --fnx-color-secondary-light: #799BD1;
  --fnx-color-secondary-medium: #6A90CC;
  --fnx-color-secondary-dark: #3F6EB9;
  --fnx-color-secondary-darkest: #2F538B;
  --fnx-color-secondary-extradark: #20375C;
  --fnx-font-family-01: Roboto;
  --fnx-font-weight-light: 300;
  --fnx-font-weight-regular: 400;
  --fnx-font-weight-medium: 500;
  --fnx-font-weight-bold: 700;
  --fnx-font-weight-black: 900;
  --fnx-font-size-xxxs: 12px;
  --fnx-font-size-xxs: 14px;
  --fnx-font-size-xs: 16px;
  --fnx-font-size-sm: 20px;
  --fnx-font-size-md: 24px;
  --fnx-font-size-lg: 32px;
  --fnx-font-size-xl: 36px;
  --fnx-font-size-xxl: 48px;
  --fnx-font-lineheight-tight: 100%;
  --fnx-font-lineheight-medium: 130%;
  --fnx-font-lineheight-distant: 150%;
  --fnx-font-lineheight-super-distant: 180%;
  --fnx-font-lineheight-faraway: 200%;
  --fnx-typography-h-01: normal 900 48px/150% Roboto;
  --fnx-typography-h-02: normal 700 36px/150% Roboto;
  --fnx-typography-h-03: normal 700 32px/150% Roboto;
  --fnx-typography-h-04: normal 700 24px/180% Roboto;
  --fnx-typography-subtitle-01: normal 700 20px/180% Roboto;
  --fnx-typography-subtitle-02: normal 700 16px/150% Roboto;
  --fnx-typography-subtitle-03: normal 700 14px/130% Roboto;
  --fnx-typography-body1-light: normal 300 20px/180% Roboto;
  --fnx-typography-body1-regular: normal 400 20px/180% Roboto;
  --fnx-typography-body1-medium: normal 500 20px/180% Roboto;
  --fnx-typography-body1-bold: normal 700 20px/180% Roboto;
  --fnx-typography-body2-light: normal 300 16px/150% Roboto;
  --fnx-typography-body2-regular: normal 400 16px/150% Roboto;
  --fnx-typography-body2-medium: normal 500 16px/150% Roboto;
  --fnx-typography-body2-bold: normal 700 16px/150% Roboto;
  --fnx-typography-body3-light: normal 300 14px/130% Roboto;
  --fnx-typography-body3-regular: normal 400 14px/130% Roboto;
  --fnx-typography-body3-medium: normal 500 14px/130% Roboto;
  --fnx-typography-body3-bold: normal 700 14px/130% Roboto;
  --fnx-typography-caption-regular: normal 400 14px/130% Roboto;
  --fnx-typography-caption-medium: normal 500 14px/130% Roboto;
  --fnx-typography-inputlabelfilled: normal 400 12px/200% Roboto;
}