[data-theme=ppw] {
  --fnx-color-brand-1: #428bff;
  --fnx-color-brand-2: #d9eaff;
  --fnx-color-digital-primary-extralight: #FFF0E4;
  --fnx-color-digital-primary-lightest: #FFB578;
  --fnx-color-digital-primary-light: #FF8826;
  --fnx-color-digital-primary-medium: #EF6C00;
  --fnx-color-digital-primary-dark: #BF5600;
  --fnx-color-digital-primary-darkest: #8F4100;
  --fnx-color-digital-primary-extradark: #602B00;
  --fnx-color-digital-secondary01-extralight: #ECDFF0;
  --fnx-color-digital-secondary01-lightest: #C69ED3;
  --fnx-color-digital-secondary01-light: #AA6EBC;
  --fnx-color-digital-secondary01-medium: #A05EB5;
  --fnx-color-digital-secondary01-dark: #844597;
  --fnx-color-digital-secondary01-darkest: #633471;
  --fnx-color-digital-secondary01-extradark: #42234B;
  --fnx-color-content-bg: #EBEFEF;
  --fnx-color-content-surface: #FCFCFC;
}