:root {
  --fnx-color-primary-extralight: #FFF0E4;
  --fnx-color-primary-lightest: #FFB578;
  --fnx-color-primary-light: #FF8826;
  --fnx-color-primary-medium: #EF6C00;
  --fnx-color-primary-dark: #BF5600;
  --fnx-color-primary-darkest: #8F4100;
  --fnx-color-primary-extradark: #602B00;
  --fnx-color-secondary-extralight: #DCFFFB;
  --fnx-color-secondary-lightest: #00E7CD;
  --fnx-color-secondary-light: #00C4AE;
  --fnx-color-secondary-medium: #00A18F;
  --fnx-color-secondary-dark: #008172;
  --fnx-color-secondary-darkest: #006156;
  --fnx-color-secondary-extradark: #004039;
  --fnx-color-grayscale-extralight: #FCFCFC;
  --fnx-color-grayscale-lightest: #DBDDDF;
  --fnx-color-grayscale-light: #B7BBBF;
  --fnx-color-grayscale-medium: #93999F;
  --fnx-color-grayscale-dark: #6D747A;
  --fnx-color-grayscale-darkest: #50555A;
  --fnx-color-grayscale-extradark: #080809;
  --fnx-color-feedback-success-extralight: #BFFFEC;
  --fnx-color-feedback-success-lightest: #7FFFD8;
  --fnx-color-feedback-success-light: #00FFB1;
  --fnx-color-feedback-success-medium: #00BF85;
  --fnx-color-feedback-success-dark: #00996A;
  --fnx-color-feedback-success-darkest: #007350;
  --fnx-color-feedback-success-extradark: #004C35;
  --fnx-color-feedback-warning-extralight: #FFF3D7;
  --fnx-color-feedback-warning-lightest: #FFE09B;
  --fnx-color-feedback-warning-light: #FFCD5E;
  --fnx-color-feedback-warning-medium: #FFC136;
  --fnx-color-feedback-warning-dark: #B98000;
  --fnx-color-feedback-warning-darkest: #7C5500;
  --fnx-color-feedback-warning-extradark: #3E2B00;
  --fnx-color-feedback-error-extralight: #FEE4E4;
  --fnx-color-feedback-error-lightest: #FC9393;
  --fnx-color-feedback-error-light: #F94242;
  --fnx-color-feedback-error-medium: #FF3535;
  --fnx-color-feedback-error-dark: #B30606;
  --fnx-color-feedback-error-darkest: #860404;
  --fnx-color-feedback-error-extradark: #5A0303;
  --fnx-color-feedback-info-extralight: #E8F1FB;
  --fnx-color-feedback-info-lightest: #8DBAED;
  --fnx-color-feedback-info-light: #4990E3;
  --fnx-color-feedback-info-medium: #2175D6;
  --fnx-color-feedback-info-dark: #175296;
  --fnx-color-feedback-info-darkest: #103A6B;
  --fnx-color-feedback-info-extradark: #0A2340;
  --fnx-color-layout-applicationbg: #EBEFEF;
  --fnx-color-layout-componentbg01: #FCFCFC;
  --fnx-color-layout-componentbg02: #FAFAFA;
  --fnx-color-layout-gradientbg: linear-gradient(136deg, #FFB578 0%, #008172 100%);
  --fnx-font-size-xxxs: 12px;
  --fnx-font-size-xxs: 14px;
  --fnx-font-size-xs: 16px;
  --fnx-font-size-sm: 18px;
  --fnx-font-size-md: 20px;
  --fnx-font-size-lg: 24px;
  --fnx-font-size-xl: 32px;
  --fnx-font-size-xxl: 36px;
  --fnx-font-lineheight-tight: 100%;
  --fnx-font-lineheight-medium: 150%;
  --fnx-font-lineheight-distant: 170%;
  --fnx-font-lineheight-super-distant: 180%;
  --fnx-font-lineheight-faraway: 200%;
  --fnx-font-weight-light: 300;
  --fnx-font-weight-regular: 400;
  --fnx-font-weight-medium: 500;
  --fnx-font-weight-bold: 700;
  --fnx-font-weight-black: 900;
  --fnx-font-family-01: Inter;
  --fnx-radius-none: 0px;
  --fnx-radius-sm: 4px;
  --fnx-radius-md: 8px;
  --fnx-radius-pill: 500px;
  --fnx-radius-circular: 50%;
  --fnx-borderwidth-none: 0px;
  --fnx-borderwidth-hairline: 0.5px;
  --fnx-borderwidth-thin: 1px;
  --fnx-borderwidth-thick: 2px;
  --fnx-opacity-semi-transparent: 16%;
  --fnx-opacity-light: 20%;
  --fnx-opacity-medium: 32%;
  --fnx-shadow-level-0: [object Object];
  --fnx-shadow-level-1: [object Object];
  --fnx-shadow-level-2: [object Object];
  --fnx-spacing-stack-quark: 4px;
  --fnx-spacing-stack-nano: 8px;
  --fnx-spacing-stack-xxxs: 12px;
  --fnx-spacing-stack-xxs: 16px;
  --fnx-spacing-stack-xs: 24px;
  --fnx-spacing-stack-sm: 32px;
  --fnx-spacing-stack-md: 40px;
  --fnx-spacing-stack-lg: 48px;
  --fnx-spacing-stack-xl: 56px;
  --fnx-spacing-stack-xxl: 64px;
  --fnx-spacing-stack-xxxl: 80px;
  --fnx-spacing-stack-huge: 120px;
  --fnx-spacing-inline-quark: 4px;
  --fnx-spacing-inline-nano: 8px;
  --fnx-spacing-inline-xxxs: 12px;
  --fnx-spacing-inline-xxs: 16px;
  --fnx-spacing-inline-xs: 24px;
  --fnx-spacing-inline-sm: 32px;
  --fnx-spacing-inline-md: 40px;
  --fnx-spacing-inline-lg: 48px;
  --fnx-spacing-inline-xl: 56px;
  --fnx-spacing-inline-xxl: 64px;
  --fnx-spacing-inline-xxxl: 80px;
  --fnx-spacing-inline-huge: 120px;
  --fnx-iconography-size-xxs: 16px;
  --fnx-iconography-size-xs: 20px;
  --fnx-iconography-size-sm: 24px;
  --fnx-iconography-size-md: 28px;
  --fnx-iconography-size-lg: 32px;
  --fnx-typography-h-01: normal 900 36px/150% Inter;
  --fnx-typography-h-02: normal 700 32px/150% Inter;
  --fnx-typography-h-03: normal 700 24px/150% Inter;
  --fnx-typography-h-04: normal 700 20px/180% Inter;
  --fnx-typography-subtitle-01: normal 700 18px/180% Inter;
  --fnx-typography-subtitle-02: normal 700 16px/150% Inter;
  --fnx-typography-subtitle-03: normal 700 14px/170% Inter;
  --fnx-typography-body1-light: normal 300 18px/180% Inter;
  --fnx-typography-body1-regular: normal 400 18px/180% Inter;
  --fnx-typography-body1-medium: normal 500 18px/180% Inter;
  --fnx-typography-body1-bold: normal 700 18px/180% Inter;
  --fnx-typography-body2-light: normal 300 16px/150% Inter;
  --fnx-typography-body2-regular: normal 400 16px/150% Inter;
  --fnx-typography-body2-medium: normal 500 16px/150% Inter;
  --fnx-typography-body2-bold: normal 700 16px/150% Inter;
  --fnx-typography-body3-light: normal 300 14px/170% Inter;
  --fnx-typography-body3-regular: normal 400 14px/170% Inter;
  --fnx-typography-body3-medium: normal 500 14px/170% Inter;
  --fnx-typography-body3-bold: normal 700 14px/170% Inter;
  --fnx-typography-caption-regular: normal 400 14px/200% Inter;
  --fnx-typography-caption-medium: normal 500 14px/200% Inter;
  --fnx-typography-inputlabelfilled: normal 400 12px/200% Inter;
}